<header class="header-component">
    <div class="header-component__logo">
        <img class="header-component__logo__img" src="assets/images/logoEnglishUp.png" alt="Logo englishUp">
    </div>

    <div class="header-component__navbar">
        <div class="header-component__navbar__options">
            <a href="#inicio">Início</a>
            <a href="#sobre">Sobre</a>
            <a href="#cursos">Cursos</a>
            <a href="#depoimentos">Depoimentos</a>
            <a href="#faq">FAQ</a>
            <a href="#contato">Contato</a>
        </div>

        <app-wpp-button buttonLAbbel="Agende sua aula"></app-wpp-button>
    </div>
</header>