@use "../../../styles/variables" as *;

.app-hero {
    margin-top: 8px;
    background-image: url('../../../../public/assets/images/backGroundHeroV2.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    padding: 24px;
    border-radius: 8px;
    margin-bottom: 48px;

    &__container {
        width: 50%;

        &__title {
            font-weight: $font-weight-bold;
            color: $color-white;
            margin-bottom: 12px;
        }

        &__description {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.6;
            max-width: 580px;
            color: $color-white;
            margin-bottom: 48px;
        }

        &__buttons {
            display: flex;
            gap: 16px;

            &--courses {
                background: transparent;
                color: $color-white;
                border: 1px solid rgba(255, 255, 255, 0.8);
                border-radius: 8px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                font-weight: $font-weight-semibold;
                cursor: pointer;

                transition:
                    transform 150ms ease,
                    background-color 150ms ease;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                }

                &:active {
                    transform: scale(0.98);
                }
            }
        }
    }
}