<section class="app-hero">
    <div class="app-hero__container">
        <h1 class="app-hero__container__title">Inglês para abrir novas oportunidades</h1>
        <p class="app-hero__container__description">Aprenda inglês de forma prática, dinâmica e eficiente com
            professores
            qualificados
            e metodologia focada em
            resultados.</p>
        <div class="app-hero__container__buttons">
            <app-wpp-button buttonLAbbel="Agende uma aula experimental"></app-wpp-button>

            <button class="app-hero__container__buttons--courses" type="button" (click)="scrollToCourses()">
                Nossos Cursos
            </button>
        </div>
    </div>
</section>