@import "../../../styles.scss";
@import "../../../styles/variables";

.app-courses-component {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px 48px;
    background-color: $color-background;

    &__title {
        font-weight: $font-weight-bold;
        color: $color-text;
        margin-bottom: 8px;
        font-size: 2rem;
    }

    &__description {
        font-weight: $font-weight-semibold;
        color: $color-text;
        margin-bottom: 24px;
        font-size: 1rem;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 250px));
        justify-content: center;
        gap: 24px;
    }
}

@media (max-width: 900px) {
    .app-courses-component__cards {
        grid-template-columns: repeat(2, minmax(0, 180px));
    }
}

@media (max-width: 480px) {
    .app-courses-component__cards {
        grid-template-columns: minmax(0, 180px);
    }
}