@import "../../../styles.scss";
@import "../../../styles/variables";

.wpp-button {
    display: flex;
    align-items: center;
    background: darken($color-accent, 5%);
    border: none;
    border-radius: 8px;
    padding: 12px;
    color: #fff;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    transition:
        transform 150ms ease,
        background-color 150ms ease;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.98);
    }
}